body{
  margin: 10px;
}

.paper{
  padding: 10px;
  text-align: center;
}
.appTitle{
  margin-bottom: 20px;
}

.howToUseTitle{
  margin: 20px 0px;
}

.textField{
  margin: 10px;
}

.submitButton{
  margin: 10px;
}

.polynomialText{
  margin: 10px;
}

.primeRangeText{
  margin: 10px;
}
