body{
  margin: 10px;
}

.paper{
  padding: 10px;
  text-align: center;
}
.appTitle{
  margin-bottom: 20px;
}

.howToUseTitle{
  margin: 20px 0px;
}

.textField{
  margin: 10px;
}

.submitButton{
  margin: 10px;
}

.polynomialText{
  margin: 10px;
}

.primeRangeText{
  margin: 10px;
}

.RefreshIcon {
  color: rgb(41, 112, 243);
  border: 1px solid;
  border-radius: 10px;
}

.RefreshIcon:hover {
  color: rgb(41, 112, 243);
  cursor: pointer;
  box-shadow: 2px 2px 4px;
}

.RefreshIcon:active {
  color: rgb(10, 27, 255);
  box-shadow: 0px 0px 0px;
}
