.paper{
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.textField{
  margin: 10px;
}

.submitButton{
  margin: 10px;
}

.polynomialText{
  margin: 10px;
}

.primeRangeText{
  margin: 10px;
}

.progressArea {
  margin: 10px;
}
